<% provide(:send, 'Send me instructions') %>
<div class="login-form-wrapper">
  <h6 class="login-form-wrapper__header">Forgot your password?</h6>
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="text-field">
          <%= render 'shared/field_errors', object: resource, field_name: :email %>
          <%= f.email_field :email, placeholder: 'E-mail address', class: 'text-field__input' %>
        </div>
        <div class="button">
          <%= f.submit yield(:send), class: 'button__submit-btn button--color-black' %>
        </div>

    <% end %>
  </div>
  <div class="password-reset">
    <%= link_to 'Back', new_user_session_path, class: 'password-reset__link' %>
  </div>
</div>